<ion-header>
  <ion-toolbar color="secondary">
    <ion-title (click)="closemodal()">Student History <ion-button size="small" color="secondary" style="float: right;"><ion-icon ios="ios-close" md="md-close"></ion-icon></ion-button></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card *ngIf="studenthistory == '' ; else show">
<ion-card-header color="danger">No Record Found !!</ion-card-header>
</ion-card> 

	<ion-card class="card1" *ngIf="studenthistory != '' ">
		<ion-card-header lines="full">
			   	<ion-card-subtitle style="text-align: center; color: #fff;"><b><i>{{stdname}}</i></b></ion-card-subtitle>
			   	
			</ion-card-header>
	</ion-card>

	  	<ion-card *ngFor="let value1 of studenthistory;let i = index" class="card1">
	  <ion-row>
   			<ion-col>
				
			 <!-- <h6 id="hrwidth"><hr></h6> -->
				
			    
			<ion-list style="background: none; color: #fff; margin-top: -4px; margin-left: 2px" >
				<div>
			   	<ion-label><b><i>User id :</i></b></ion-label>
			   	{{value1.username}}
			   </div>

			    <div>
			   	<ion-label><b><i>Status :</i></b></ion-label>
			   	{{value1.status}}
			   </div>

			   <div>
			   	<ion-label><b><i>Followup date :</i></b></ion-label>
			   	{{value1.nextfollowupdate}}
			   </div>

			   <div>
			   	<ion-label><b><i>Remark :</i></b></ion-label>
			   	{{value1.text}}
			   </div>

			</ion-list>



			</ion-col>
		</ion-row>
	
  </ion-card>

</ion-content>
