ion-card.backimg{
    --background: url(../../assets/img/stdhistory1.png) no-repeat 100% 100%;
}
.card1{
	background-image: linear-gradient(to right, #15b5f3, #009ff8, #0087f9, #006cf4, #194ae6);
}

.card3{
	background-image: linear-gradient(to left, #1569f3, #0093ff, #00b7ff, #00d6ff, #48f2fd);
}