

<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>followuphistory</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

 


<ion-list>
  <ion-card *ngFor="let value of todayfollowupstudent;let i = index" class="cardview">

  	<ion-row>
      		<ion-col size="2" class="numcol">
      			<ion-row class="numrow">
			    <h4><i>{{i+1}}</i></h4>
			</ion-row>
			</ion-col> 
			<ion-col size="10">
				<ion-row class="col2row">
			 <h4><span (click)="openmodal(value.id)">{{value.name}}</span></h4>
			 <h6 id="hrwidth"><hr></h6>

			</ion-row>
			<ion-row style="margin-top: -26px;">
			   <ion-label><i>Course: <b>{{value.course}}</b>, Mobile: <b>{{value.mobile}}</b></i></ion-label>
			</ion-row>
			</ion-col>
		</ion-row>
       <!-- Followup history -->
		  	<!-- 
  	<ion-row>
  		<div *ngFor="let value1 of followuphistory;" class="cardview">
      <div *ngIf="{{value1.studentfollowupid}} == {{value.id}}" >
      	    <ion-col size="10">
				<ion-row class="col2row">
			 <h4><span >{{value1.nextfollowupdate}}</span></h4>
			 <h6 id="hrwidth"><hr></h6> 

			</ion-row>
			<ion-row style="margin-top: -26px;">
			   <ion-label><i>Text: <b>{{value1.text}}</b>, status: <b>{{value1.status}}</b></i></ion-label>
			</ion-row>
			</ion-col>
     </div>
</div> 
		</ion-row> -->
  <!--  	<ion-card *ngFor="let value1 of followuphistory;let i = index"	 class="cardview">
   			<ion-col size="10" *ngIf="value1.studentfollowupid == value.id">
				<ion-row class="col2row">
			 <h6 id="hrwidth"><hr></h6>

			</ion-row>
			<ion-row style="margin-top: -26px;">
			   <ion-label><i>Text: <b>{{value1.text}}</b>, status: <b>{{value1.status}}</b></i></ion-label>
			</ion-row>
			</ion-col>
	
  </ion-card> -->
  </ion-card>

  
  </ion-list>


</ion-content>



