.center{
     text-align:center;

}
.ioncard{
	/*border-radius: 82px;*/
	/*box-shadow: -2px 2px 6px -4px rgba(12,209,232,1);*/
	/*box-shadow: 0px 1px 3px 0px rgba(12,209,232,1);*/
	border-right: 1px solid #24d6ea;
	/*box-shadow: -5px 5px 5px -6px rgba(78,50,235,1);*/
	/*box-shadow: 1px 1px 4px -2px rgba(66,21,230,1);*/
	/*border: 2px solid black;*/
}

.rowspace{
	margin-top: -16px;
}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}