<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Student Enquiry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

<ion-card style="height: 100%"> 

	 <ion-row>   
    <ion-col size="12" size-md>

	<form [formGroup]="loginForm" (ngSubmit)="saveenquiry(loginForm.value)" >
		  <ion-row>
 


    <ion-col size="12" size-md>
      <ion-card class="ioncard">
      <ion-item style="margin-left: -14px">   
        <ion-col size="2">
           <ion-icon name="create" (click)='opencalldirector()'> </ion-icon>
         </ion-col>
        <!-- <ion-label>Name</ion-label> --> 
       <ion-col size="10">   

 <ion-input type="text" *ngIf="this.name =='' "  formControlName="name" name="name"   placeholder="name" ></ion-input>  

 <ion-input type="text" *ngIf="this.name !='' " formControlName="name"  name="name"  ></ion-input>   
  
       
      </ion-col>
        
      </ion-item> 
    </ion-card>
  </ion-col>
</ion-row> 
    <ion-row class="rowspace">
    <ion-col size="12" size-md>
      <ion-card class="ioncard">
      <ion-item style="margin-left: -14px">
        <ion-col size="2">
          <ion-icon name="clipboard"></ion-icon>
        </ion-col>
        <ion-col size="10">
        <!-- <ion-label>Name</ion-label> -->
        <ion-input type="text"  name="course" formControlName="course"  placeholder="Course" ></ion-input>
      </ion-col>
      </ion-item>
    </ion-card>
  </ion-col>
</ion-row>
  <ion-row class="rowspace">
    <ion-col size="12" size-md>
      <ion-card class="ioncard">
      <ion-item style="margin-left: -14px">
         <ion-col size="2">
          <ion-icon name="phone-portrait" (click)='opencalldirector()'></ion-icon>
        </ion-col>
        <ion-col size="10">
        <!-- <ion-label>Name</ion-label> -->

        <ion-input type="number" *ngIf="this.mobile=='0' "  name="mobile"  formControlName="mobile" placeholder="Mobile"   >{{this.mobile}}</ion-input>

        <ion-input type="number" *ngIf="this.mobile !='' "   name="mobile" formControlName="mobile"  placeholder="" >{{this.mobile}}    
        </ion-input>   

      </ion-col> 
      </ion-item>  
    </ion-card>
  </ion-col>
</ion-row>

 <ion-row class="rowspace">
    <ion-col size="12" size-md>
      <ion-card class="ioncard">
      <ion-item style="margin-left: -14px">
          <ion-col size="2">
          <ion-icon name="calendar"></ion-icon>
        </ion-col>
        <ion-col size="10" style="margin-left: -24px">
        <!-- <ion-label>Name</ion-label> -->
        <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" formControlName="date" id="showdate"  placeholder="-- Date --" ></ion-datetime>
      </ion-col>
      </ion-item>
    </ion-card>
  </ion-col>
</ion-row>


 <ion-row class="rowspace">
    <ion-col size="12" size-md>
      <ion-card class="ioncard">
         <ion-item style="margin-left: -14px">
          <ion-col size="2">
          <ion-icon name="document"></ion-icon>
        </ion-col>
        <ion-col size="10">

        <!-- <ion-label>Name</ion-label> -->
        <ion-input type="text"  name="Remark" formControlName="remark"  placeholder="Enter remark" ></ion-input> 
      </ion-col>
      </ion-item>
    </ion-card>
  </ion-col>
</ion-row> 

<ion-row class="rowspace">
    <ion-col size="12" size-md>
<ion-card class="ioncard">
  <ion-item style="margin-left: -14px">
    <ion-col size="2">
          <ion-icon name="create"></ion-icon>
        </ion-col>
        <ion-col size="10" style="margin-left: -24px">
       <ion-select  formControlName="operatorid" placeholder=" Follower Name"   >
          <ion-select-option value={{value.id}}  *ngFor="let value of operators;let i = index" selected> {{value.name}} </ion-select-option>
        </ion-select> 
        </ion-col> 
  </ion-item> 
</ion-card>
</ion-col>
</ion-row>



<ion-row style="margin-top: 48px">
	<ion-col size="12" size-md>
      <ion-button type="submit" color="secondary" expand="full" shape="round" [disabled]="loginForm.invalid" >Save</ion-button>
  	</ion-col>
	</ion-row>
    </form>
</ion-col>
</ion-row>

</ion-card>

</ion-content>
<!-- 
<script type="text/javascript">
  var d = new Date();
  var d1 = d.toDateString();
  $(document).ready(function(){
    $("#showdate").val(d1);

  });
</script> -->
