<!-- <ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar translucent >
   
  </ion-toolbar>
</ion-header> -->


<ion-content color="secondary">
<div>
	<div text-center style="padding-top: 64px">
		<img src="assets/img/logo1.png"  height="25%" width="25%"> 
	</div>
<div class="formposition">
	<ion-row>
    <ion-col size="12" size-md>
    	<h5 class="center" style="text-shadow: -2px 2px 0px rgba(181,181,165,0.37);"><ion-icon name="lock" *ngIf="loginForm.invalid" style="margin-top: 16px"></ion-icon>
        <ion-icon name="key" *ngIf="!loginForm.invalid"></ion-icon> Login </h5>
    </ion-col>
	</ion-row>
	 <ion-row>  
    <ion-col size="12" size-md>

<form [formGroup]="loginForm" (ngSubmit)="loginpost(loginForm.value)">
		<ion-row class="rowspace">
    <ion-col size="12" size-md>
      <ion-card>
      <ion-item class="center">
        <ion-input type="text"  name="username" formControlName="name"  placeholder="enter username" id="usr"></ion-input>
      </ion-item>
    </ion-card>
  </ion-col>
</ion-row>
  <ion-row class="rowspace">
  <ion-col size="12" size-md >
    <ion-card >
      <ion-item class="center">
        <ion-input type="password" name="password" formControlName="password" placeholder="enter password" shape="round" id="pass"></ion-input>
      </ion-item>
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>  
	<!-- <ion-col size="4" size-md>
	</ion-col> -->
	<ion-col size="12" >
    <!-- <ion-card> -->
      <ion-button type="submit" color="secondary-shade" expand="full" shape="round" [disabled]="loginForm.invalid" size-lg>login</ion-button>
    <!-- </ion-card> -->
  	</ion-col>
<!-- 	<ion-col size="4" size-md>  
	</ion-col> -->
	</ion-row>
    </form>
</ion-col>
</ion-row>
</div>
</div>  
</ion-content>



