.center{
     text-align:center;

}

.wall{ 
	/*background-image:linear-gradient(313deg, rgba(71,215,255,1) 0%, rgba(71,215,255,1) 46%, rgba(0,0,255,1) 100%);*/
	background-image: linear-gradient(to left top, #1d39f9, #007fff, #00aaff, #00cdf9, #12ebdf);
	height: 100%
}

.formposition{
	padding-top: 20%;
}

.rowspace{
	margin-top: -16px;
}
.new-background-color{
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-card{
	border-radius: 82px;
	/*border: 2px solid black;*/
}
/*ion-input{
	border-radius: 82px;
	border: 2px solid black;
}*/


