<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Unknown Number list</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>



<ion-list>
  <div *ngFor="let value of recordsFound;let i = index">
<div *ngIf="value.name =='' "> 
        	<ion-row (click)="goenquiry(value.number)" >
      		<ion-col size="2" class="numcol">
      			<ion-row class="numrow">
			    <h4><i>{{i+1}}.</i></h4>
			</ion-row>
			</ion-col> 
			<ion-col size="10"> 
				<ion-row class="col2row" style="color:red">
			 <h4><span >Unknown Number</span></h4>
			 <h6 id="hrwidth"><hr></h6>

			</ion-row>
			<ion-row style="margin-top: -26px;color: red;">
			   <ion-label><br><i>Mobile: <b>{{value.number}}</b></i></ion-label>
			</ion-row> 
			</ion-col>
		</ion-row> <br>
	</div>
  </div>
  </ion-list> 
</ion-content>  
