<ion-header>
  <ion-toolbar color="secondary">
  	 <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
     <ion-buttons slot="end">
      <ion-button (click)="editpro()">
      <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card class="background imgtopmarging">
	<div  (click)="presentActionSheet()">
            <!-- <h1 class="imgtopmarging" (click)="getphoto()"> -->
            <div>
              <img *ngIf="this.currentImage == undefined" src= "assets/user.jpeg">
              <img *ngIf="this.currentImage != undefined" src= "{{this.currentImage}}">
            </div>
          </div>
        </ion-card>

        <ion-card class="cardline profilecol">

       <ion-grid>
        <ion-row>
           <ion-col size="2" class="profilecol ">
            <h5><ion-icon name="person" color="secondary"></ion-icon></h5>
          </ion-col>
           <ion-col size="10">
            <em> Name</em>
            <h5>{{this.name}}</h5>
         </ion-col>
       </ion-row>
     </ion-grid>
   </ion-card>


     <ion-card class="cardline profilecol">
       <ion-grid>
        <ion-row>
           <ion-col size="2" class="profilecol">
            <h5><ion-icon name="person" color="secondary"></ion-icon></h5>
          </ion-col>
           <ion-col size="10">
            <em> Username</em>
            <h5>{{this.username}}</h5>
         </ion-col>
     </ion-row>
   </ion-grid>
 </ion-card>

   <ion-card class="cardline profilecol">
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="profilecol">
            <h5><ion-icon name="call" color="secondary"></ion-icon></h5>
          </ion-col>
           <ion-col size="10">
            <em> Mobile</em>
            <h5 >{{this.mobile}}</h5>
         </ion-col>
        </ion-row>
      </ion-grid>
          </ion-card>
     

</ion-content>
