ion-button{
	 color: #fff;
       --background: linear-gradient(-225deg, #f4a942 0%, #a47c47b3 100%);
}
.imgtopmarging{
    font-family: 'Cinzel Decorative', cursive;
    // color: #fff;
    font-weight: bold;
    margin-top: 15px;
    background-color:#0cd1e8; 
     --background: url(../../assets/bluebg1.jpg) 0 0/100% 100% no-repeat;
    /*background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);*/
}

img{
    width: 200px;
    height: 200px;
    margin-top: 0px;
    border-radius: 50%;
    margin-bottom: -26px;
    padding: 20px;
    margin-left: 21%  
}

.background{
    /*--background: url(../../assets/backgimg.jpg) 0 0/100% 100% no-repeat;*/
     /*--background: url(../../assets/bgimg.png) 0 0/100% 100% no-repeat;*/
    
}

.profilecol{
    border-right: 1px solid #0cd1e8; 
    /*text-align: center;*/
    /*padding-top: 4%*/
}

h5{
        margin-top: 1px;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.2;
}

.cardline{
    color: #000000;
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
}

