<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Intrested Student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- <ion-card style="height: 16px; display: hidden;">
	</ion-card> -->

<ion-list>
  <ion-card *ngFor="let value of studentlist;let i = index"	 class="cardview">
  	<ion-row>
      		<ion-col size="2" class="numcol">
      			<ion-row class="numrow">
			    <h4><i>{{i+1}}.</i></h4>
			</ion-row>
			</ion-col>
			<ion-col size="10">
				<ion-row class="col2row">
			 <h4><span >{{value.name}}</span></h4>
			 <h6 id="hrwidth"><hr></h6>

			</ion-row>
			<ion-row style="margin-top: -26px;">
			   <ion-label><i>Course: <b>{{value.course}}</b>, Mobile: <b>{{value.mobile}}</b></i></ion-label>
			</ion-row>
			</ion-col>
		</ion-row>
  </ion-card>
  </ion-list>


</ion-content>
