.border1{
border-bottom: 1px solid #0cd1e8;}

.border2{
	border: none;
}

hr { 
  /*display: block;*/
  /*margin-top: 0.5em;*/
  /*margin-bottom: 0.5em;*/
  margin-top: -24px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  color: #0cd1e8;
  border-width: 1px;
}

.numcol{
  background:#0cd1e8;
}

.cardview{
  border-bottom: 2px solid #0cd1e8; 
}

.numrow{
  text-align: center;
  padding-left: 33%;
  color: #ffffff;

}

.col2row{
  margin-top: -16px; color: #0bb8cc;
}

#hrwidth{
  width: 100%;
}