<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Today's followup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card *ngIf="studentlist == '' ; else show">
<ion-card-header color="danger">No Record Found !!</ion-card-header>
</ion-card>   
<!-- <ion-list  *ngFor="let value of studentlist;let i = index" #show>
  <ion-item (click)='studentdetail(value.id)' class="border1">
    <ion-label color= secondary>{{i+1}}.</ion-label>
  <ion-label>{{value.name}}</ion-label>
   <ion-label>{{value.mobile}}</ion-label>
  </ion-item>
  </ion-list> -->

  <ion-list>
  <ion-card *ngFor="let value of studentlist;let i = index"  class="cardview">
    <ion-row (click)='studentdetail(value.id)'>
          <ion-col size="2" class="numcol">
            <ion-row class="numrow">
          <h4><i>{{i+1}}.</i></h4>
      </ion-row>
      </ion-col>
      <ion-col size="10">
        <ion-row class="col2row">
       <h4><span >{{value.name}}</span></h4>
       <h6 id="hrwidth"><hr></h6>

      </ion-row>
      <ion-row style="margin-top: -26px;">
         <ion-label><i>Course: <b>{{value.course}}</b>, Mobile: <b>{{value.mobile}}</b></i></ion-label>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  </ion-list>


</ion-content>
