
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Student Detail</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
	<ion-card class="cardview" style="margin-top: 36px"> 
	<ion-card-header >
    <ion-label color="medium">Name</ion-label>
    <ion-card-title >{{this.stdname}}</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="cardview">
	<ion-card-header >
    <ion-label color="medium">Course</ion-label>
    <ion-card-title >{{this.stdcourse}}</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="cardview"  > 
	<ion-card-header > 
    <ion-label color="medium"  >Mobile</ion-label> 
    <ion-card-title (click)='studentcall(this.stdmob)' [color]="buttonColor" >{{this.stdmob}}
     <ion-icon ios="ios-call" md="md-call"></ion-icon> 
    </ion-card-title>
  </ion-card-header> 
</ion-card>
<form [formGroup]="loginForm" (ngSubmit)="savestatus(loginForm.value)" >
<ion-card class="cardview">
  <ion-card-header >
    <ion-label color="medium">Remark</ion-label>
     <ion-input type="text"  name="remark" formControlName="remark"  placeholder="Remark...." value={{this.remark}} style='font-size: 12px;' ></ion-input> 
  </ion-card-header>
</ion-card>

		<ion-card class="cardview">
	 <ion-item style="margin-left: -14px">
  
        <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" formControlName="date" id="showdate"  placeholder="Next Followup Date" ></ion-datetime>
      </ion-item>
</ion-card>

<ion-card class="cardview">
<!-- <ion-input type="hidden"  name="id" formControlName="id" value="this.stdid"></ion-input> -->

     <ion-item>
    <ion-label color="medium">Status</ion-label>
    	
		    <ion-select formControlName="status" placeholder="">
		      <ion-select-option value="intrested" selected> Intrested </ion-select-option>
		      <ion-select-option value="pending"> Pending </ion-select-option>
		      <ion-select-option value="notintrested"> Not Intrested </ion-select-option>
		    </ion-select>	
  </ion-item>


</ion-card>


<div style="padding: 8px">
  <ion-button type="submit" color="secondary" expand="full" shape="round" [disabled]="loginForm.invalid" style="margin-top: 36px">Save</ion-button>
  </div>
  </form>

</ion-content>
