ion-card.card1{
	border-radius: 82px;
	/*border: 2px solid black;*/
}  

.profilecol{
    border-right: 1px solid #0cd1e8;   
    text-align: center;
    /*padding-top: 4%*/
}

.imgtopmarging{
    font-family: 'Cinzel Decorative', cursive;
    // color: #fff;
    font-weight: bold;
    margin-top: 15px;
    /*background-color:#0cd1e8; */
     --background: url(../../assets/bluebg1.jpg) 0 0/100% 100% no-repeat;
    /*background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);*/
}

img{
    width: 200px;
    height: 200px;
    margin-top: 0px;
    border-radius: 50%;
    margin-bottom: -55px;
    padding: 20px;
    margin-left: 21%  
}
