<ion-header>
  <ion-toolbar color="secondary">
 <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>editprofile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

<form [formGroup]="profileForm" (ngSubmit)="saveprofile(profileForm.value)" >
<ion-card class="imgtopmarging">
  <div text-center (click)="presentActionSheet()">
      <!-- <h1 class="imgtopmarging" (click)="getphoto()"> -->
          <div>
           
            <img *ngIf="this.currentImage == undefined" src= "assets/user.jpeg">
            <img *ngIf="this.currentImage != undefined" src= "{{this.currentImage}}">
              <span style="position: relative;color: #a2a4ab;font-size: 20px;"><ion-icon name="camera"></ion-icon></span>
          </div>
    </div>
  </ion-card>
    
  <ion-input type="hidden"  name="id"  [(ngModel)]='this.id' formControlName="id"></ion-input>
	 <!-- <ion-row>    -->
    <!-- <ion-col size="12" size-md> -->

		  <!-- <ion-row> -->
    <!-- <ion-col size="12" size-md>   -->
      <ion-card class="profilecol card1">
      <ion-item style="margin-left: -10px">
        <ion-col size="2">
           <ion-icon name="create"> </ion-icon>
         </ion-col>
        <!-- <ion-label>Name</ion-label> -->
       <ion-col size="10">
     <ion-input type="text"  name="name"  [(ngModel)]='this.name' formControlName="name" placeholder="Name" ></ion-input>
      </ion-col>
        
      </ion-item>
    </ion-card>
  <!-- </ion-col> -->
<!-- </ion-row>  -->
   
  <!-- <ion-row class="rowspace">
    <ion-col size="12" size-md> -->
      <ion-card class="profilecol card1">
      <ion-item style="margin-left: -10px">
         <ion-col size="2">
          <ion-icon name="phone-portrait"></ion-icon>
        </ion-col>
        <ion-col size="10">
        <!-- <ion-label>Name</ion-label> -->
         <ion-input type="number"  name="mobile" [(ngModel)]='this.mobile' formControlName="mobile" placeholder="Mobile Number" ></ion-input>
     
      </ion-col>
      </ion-item>
    </ion-card>  
 <!--  </ion-col>
</ion-row> -->

 <!-- <ion-row class="rowspace">
    <ion-col size="12" size-md> -->
      <ion-card class="profilecol card1">
      <ion-item style="margin-left: -10px">
        <ion-col size="2">
          <ion-icon name="person"></ion-icon>
        </ion-col>
        <ion-col size="10">
        <!-- <ion-label>Name</ion-label> -->
        <ion-input type="text"  name="username" [(ngModel)]='this.username' formControlName="username" placeholder="User Name" ></ion-input>
    
      </ion-col>
      </ion-item>
    </ion-card>
<!--   </ion-col>
</ion-row> -->

<!-- <ion-row class="rowspace">
    <ion-col size="12" size-md>
      <ion-card class="profilecol">
      <ion-item style="margin-left: -10px">
         <ion-col size="2">
          <ion-icon name="key"></ion-icon>
        </ion-col>
        <ion-col size="10">
         <ion-input type="password"  name="pass" formControlName="pass" placeholder="password" ></ion-input>
     
      </ion-col>
      </ion-item>
    </ion-card>  
  </ion-col>
</ion-row> -->


<ion-row style="margin-top: 48px">
	<ion-col size="12" size-md buttonclass>
      <ion-button type="submit" color="secondary" expand="full" shape="round" >Save</ion-button>
  	</ion-col>
	</ion-row>   
<!-- </ion-col> -->
<!-- </ion-row>  -->

 </form>
</ion-content>
<!-- 
<script type="text/javascript">
  var d = new Date();
  var d1 = d.toDateString();
  $(document).ready(function(){
    $("#showdate").val(d1);

  });
</script> -->
