.card1{
	background-image: linear-gradient(to right, #15b5f3, #009ff8, #0087f9, #006cf4, #194ae6);
}

.card2{
	background-image: linear-gradient(to right, #bf1def, #964df7, #6d64f6, #4671ee, #267ae0);
}

.card3{
	background-image: linear-gradient(to left, #1569f3, #0093ff, #00b7ff, #00d6ff, #48f2fd);
}

.card4{
	background-image: linear-gradient(to right, #15f3c8, #00e8d8, #00dce2, #00cfe7, #19c2e6);
}

.sc-ion-card-md-s img {
    display: block;
    width: 80%;
}

.cardhd{
	color: #ffffff;
	text-align: center;
	margin-top: -8px; 
	text-shadow: 2px 2px 4px #000000;
}

.cardhd1{
	color: #ffffff;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
}