<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	 <ion-row>
    <ion-col>
      <ion-card class="card1"  (click)='intrestedstudent()'>
      	<ion-row>
      		<ion-col size="6">
  <ion-card-header>
    <ion-card-subtitle class="cardhd1">Total Student</ion-card-subtitle>
    <div class="cardhd"><h1>{{this.totalstd}}</h1></div>
    

  </ion-card-header>
</ion-col>
<ion-col size="6">
  <ion-card-content>
    <img src="assets/img1/allstudent.png">
  </ion-card-content>
</ion-col>
</ion-row>
</ion-card>
    </ion-col>
 
  </ion-row>

  <ion-row style="margin-top: -16px">
    <ion-col>
      <ion-card class="card2" (click)='pendingstudent()'>
      	<ion-row>
      		
<ion-col size="6">
  <ion-card-content>
   <img src="assets/img1/pendingstd.png" >
  </ion-card-content>
</ion-col>
<ion-col size="6">
  <ion-card-header>
    <ion-card-subtitle class="cardhd1">Pending Student</ion-card-subtitle>
    <div class="cardhd"><h1>{{this.pending}}</h1></div>
  </ion-card-header>
</ion-col>
</ion-row>
</ion-card>
    </ion-col>
 
  </ion-row>

  

  <ion-row style="margin-top: -16px">
    <ion-col>
      <ion-card class="card3" (click)='todayfollowupstudent()'>
      	<ion-row>
      		<ion-col size="6">
  <ion-card-header>
    <ion-card-subtitle class="cardhd1">Today's Followup</ion-card-subtitle>
    <div class="cardhd"><h1>{{this.todaysenq}}</h1></div>
  </ion-card-header>
</ion-col>
<ion-col size="6">
  <ion-card-content>
     <img src="assets/img1/followupstd.png">
  </ion-card-content>
</ion-col>
</ion-row>
</ion-card>
    </ion-col>
 
  </ion-row>

  <ion-row style="margin-top: -16px">
    <ion-col>
      <ion-card class="card4">
      	<ion-row>
    
<ion-col size="6">
  <ion-card-content>
     <img src="assets/img1/notintstd.png">
  </ion-card-content>
</ion-col>
  		<ion-col size="6">
  <ion-card-header >
    <ion-card-subtitle class="cardhd1">Not Intrested</ion-card-subtitle>
    <div class="cardhd"><h1>{{this.notinstd}}</h1></div>
  </ion-card-header>
</ion-col>
</ion-row>
</ion-card>
    </ion-col>
 
  </ion-row>

	

</ion-content>
